# 1. Module Import and Management

Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.

Design a Python program that demonstrates the following:

1. Import multiple modules within your project.

2. Use the import statement to access functions, classes, and variables from imported modules.

3. Create your custom module and use it in your main program.

4. Handle naming conflicts and ensure proper namespacing. 5. Implement error handling for missing modules or incorrect module usage.

In [1]:
# my_module.py

def func_():
    return "Hey hello from Mphasis from module."

custom_variable = "Hey hello from Mphasis"

class CustomClass:
    def __init__(self):
        self.message = "Custom Class Instance from my_module"

    def print_message(self):
        print(self.message)

In [2]:
# main.py

try:
    import my_module
    print(my_module.func_())
    print(my_module.custom_variable)

    my_object = my_module.CustomClass()
    my_object.print_message()

    custom_variable = "Hey hello from Mphasis from main.py"
    print(custom_variable)

except ImportError:
    print("Error: The required module is missing.")
except AttributeError as e:
    print(f"Attribute Error: {e}")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Hey hello from Mphasis from module.
Hey hello from Mphasis
Custom Class Instance from my_module
Hey hello from Mphasis from main.py

# 2.Virtual Environment Management

Scenario: You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.

Create a Python program that demonstrates the following:

1. Create a virtual environment for a specific project.

2. Activate and deactivate virtual environments.

3. Install, upgrade, and uninstall packages within a virtual environment.

4. List the installed packages in a virtual environment.

5. Implement error handling for virtual environment operations.

1.python -m venv demoenv 
2. .\demoenv\Scripts\activate   
     deactivate
3.  pip install numpy , pip install --upgrade numpy , pip uninstall numpy  
4. pip list

3. Module Dependency Resolution

Scenario: You are developing a Python application that relies on third-party packages. Managing dependencies and ensuring compatibility is crucial for your project's success.

Design a Python program that demonstrates the following:

1. Use a requirements.txt file to specify project dependencies.

2. Automatically install all project dependencies from the requirements.txt file.

3. Ensure that the versions of installed packages are compatible. 4. Implement error handling for dependency resolution and installation.

In [3]:
pip install -r requirements.txt 
pip list

SyntaxError: invalid syntax (4058227810.py, line 1)

# Database programming with MySQL:

1. Implement Inventory Management in Python with MySQL

a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.

b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory

c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [22]:
import mysql.connector

# Connect to the MySQL database
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="******",
    database="inventory"
)
cursor = db.cursor()

def add_purchase(product_name, quantity, purchase_date):
    sql = "INSERT INTO Purchases (product_name, quantity, purchase_date) VALUES (%s, %s, %s)"
    values = (product_name, quantity, purchase_date)
    cursor.execute(sql, values)
    db.commit()

def add_sale(product_name, quantity, sale_date):
    sql = "INSERT INTO Sales (product_name, quantity, sale_date) VALUES (%s, %s, %s)"
    values = (product_name, quantity, sale_date)
    cursor.execute(sql, values)
    db.commit()

Purchase=add_purchase("cadbury", 12, "2022-09-14")
sale=add_sale("Dairymilk", 7, "2020-07-15")

print("The data is added successfully in mysql")

print()
print(cursor.rowcount, "Row(s) insterted just now")

#db.close()

The data is added successfully in mysql

1 Row(s) insterted just now

In [27]:
cursor = db.cursor()
cursor.execute("show tables")
for i in cursor:
    print(i)

('bookorderdetails',)
('bookorders',)
('books',)
('customers',)
('inventory',)
('orderdetails',)
('orders',)
('products',)
('purchases',)
('sales',)

In [28]:
cursor = db.cursor()
cursor.execute("select * from Purchases")
for i in cursor:
    print(i)

(3, 'Pista', 10, datetime.date(2023, 9, 16))
(4, 'Pista', 10, datetime.date(2023, 9, 16))
(5, 'Pista', 10, datetime.date(2023, 9, 16))
(6, 'Pista', 10, datetime.date(2023, 9, 16))
(7, 'Pista', 10, datetime.date(2023, 9, 16))
(8, 'kaju', 10, datetime.date(2023, 9, 16))
(9, 'kaju', 10, datetime.date(2023, 9, 16))
(10, 'ferrerro', 10, datetime.date(2023, 9, 16))
(11, 'cadbury', 12, datetime.date(2022, 9, 14))
(12, 'cadbury', 12, datetime.date(2022, 9, 14))

In [25]:
cursor = db.cursor()
cursor.execute("select * from sales")
for i in cursor:
    print(i)

(3, 'Badam', 5, datetime.date(2023, 9, 17))
(4, 'Badam', 5, datetime.date(2023, 9, 17))
(5, 'Badam', 5, datetime.date(2023, 9, 17))
(6, 'Badam', 5, datetime.date(2023, 9, 17))
(7, 'Badam', 5, datetime.date(2023, 9, 17))
(10, 'roacher', 5, datetime.date(2023, 9, 17))
(11, 'Dairymilk', 7, datetime.date(2020, 7, 15))
(12, 'Dairymilk', 7, datetime.date(2020, 7, 15))

In [ ]:
cursor = db.cursor()
#cursor.execute("DELETE FROM Purchases WHERE product_name = Product A")

#cursor.execute("delete from Purchases where product_name= Product A")
#for i in cursor:
  #  print(i)
    
product_name_to_delete = "raisins"
delete_sales_query = "DELETE FROM sales WHERE product_name = %s"
cursor.execute(delete_sales_query, (product_name_to_delete,))
db.commit()

print(cursor.rowcount, "Row(s) deleted just now")
print()
print("The data is successfully deleted in mysql")

In [29]:
cursor = db.cursor()
cursor.execute("select * from Purchases")
for i in cursor:
    print(i)

(3, 'Pista', 10, datetime.date(2023, 9, 16))
(4, 'Pista', 10, datetime.date(2023, 9, 16))
(5, 'Pista', 10, datetime.date(2023, 9, 16))
(6, 'Pista', 10, datetime.date(2023, 9, 16))
(7, 'Pista', 10, datetime.date(2023, 9, 16))
(8, 'kaju', 10, datetime.date(2023, 9, 16))
(9, 'kaju', 10, datetime.date(2023, 9, 16))
(10, 'ferrerro', 10, datetime.date(2023, 9, 16))
(11, 'cadbury', 12, datetime.date(2022, 9, 14))
(12, 'cadbury', 12, datetime.date(2022, 9, 14))

In [30]:
cursor = db.cursor()
cursor.execute("select * from sales")
for i in cursor:
    print(i)

(3, 'Badam', 5, datetime.date(2023, 9, 17))
(4, 'Badam', 5, datetime.date(2023, 9, 17))
(5, 'Badam', 5, datetime.date(2023, 9, 17))
(6, 'Badam', 5, datetime.date(2023, 9, 17))
(7, 'Badam', 5, datetime.date(2023, 9, 17))
(10, 'roacher', 5, datetime.date(2023, 9, 17))
(11, 'Dairymilk', 7, datetime.date(2020, 7, 15))
(12, 'Dairymilk', 7, datetime.date(2020, 7, 15))

In [ ]:

cursor = db.cursor()
cursor.execute("SHOW DATABASES")
for i in cursor:
    print(i)

# 2.Customer Order Processing

Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

1. Design a MySQL database schema for the order processing system, including tables for customers, products, and orders.

2. Write a Python program that connects to the database and allows customers to place new orders.

3. Implement a feature that calculates the total cost of an order and updates product quantities in the database.

4. How would you handle cases where a product is no longer available when a customer places an order?

5. Develop a function to generate order reports for the company's finance department.

# Data base Queries to create tables

CREATE TABLE Customers (
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    address VARCHAR(255),
    email VARCHAR(255),
    phone VARCHAR(20)
);

CREATE TABLE Products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    description TEXT,
    price DECIMAL(10, 2) NOT NULL,
    quantity INT NOT NULL
);

CREATE TABLE Orders (
    order_id INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    order_date DATE,
    status VARCHAR(20) DEFAULT 'pending',
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id)
);

CREATE TABLE OrderDetails (
    order_detail_id INT AUTO_INCREMENT PRIMARY KEY,
    order_id INT,
    product_id INT,
    quantity INT,
    total_price DECIMAL(10, 2),
    FOREIGN KEY (order_id) REFERENCES Orders(order_id),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);

In [26]:
#import mysql.connector

# Connect to the MySQL database
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="*****",
    database="inventory"
)
# Create a cursor object to interact with the database
cursor = db.cursor()

def place_order(customer_id, product_id, quantity):
    # Check if the product is available
    cursor.execute("SELECT quantity FROM Products WHERE product_id = %s", (product_id,))
    row = cursor.fetchone()

    if row is None:
        print("Product not found.")
        return

    available_quantity = row[0]

    if available_quantity < quantity:
        print("Product not available in the required quantity.")
        return

    # Calculate the total price
    cursor.execute("SELECT price FROM Products WHERE product_id = %s", (product_id,))
    row = cursor.fetchone()

    if row is None:
        print("Product price not found.")
        return

    price = row[0]
    total_price = price * quantity

    # Insert the order and order details into the database
    cursor.execute("INSERT INTO Orders (customer_id, order_date) VALUES (%s, NOW())", (customer_id,))
    order_id = cursor.lastrowid
    cursor.execute("INSERT INTO OrderDetails (order_id, product_id, quantity, total_price) VALUES (%s, %s, %s, %s)",
                   (order_id, product_id, quantity, total_price))

    # Update product quantity
    new_quantity = available_quantity - quantity
    cursor.execute("UPDATE Products SET quantity = %s WHERE product_id = %s", (new_quantity, product_id))

    db.commit()
    print(f"Order placed successfully with order ID {order_id}")

place_order(1, 3, 250)

Product not available in the required quantity.

In [ ]:
cursor = db.cursor()
cursor.execute("SHOW tables")
for i in cursor:
    print(i)

In [ ]:
cursor = db.cursor()
cursor.execute("Select * from products")
for i in cursor:
    print(i)

In [ ]:
cursor = db.cursor()
cursor.execute("Select * from Customers")
for i in cursor:
    print(i)

In [ ]:

cursor = db.cursor()
cursor.execute("Select * from orders")
for i in cursor:
    print(i)

In [ ]:

cursor = db.cursor()
cursor.execute("Select * from orderdetails")
for i in cursor:
    print(i)

In [ ]:
db.close()

In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="*********",
    database="inventory"
)
cursor = db.cursor()
cursor.execute("Select * from orderdetails")

column_names = [column[0] for column in cursor.description]

print(column_names)

# Print the data along with column names
for row in cursor:
    for i, value in enumerate(row):
        print(f"{column_names[i]}: {value}")
    print("\n")

#for i in cursor:
#    print(i)

In [31]:
import mysql.connector
import csv

def generate_order_report():
    # Connect to the MySQL database
    db = {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "Siri@123",
        "database": "inventory"
    }

    # Connect to the MySQL database
    connection = mysql.connector.connect(**db)
    # Create a cursor object to interact with the database
    cursor = db.cursor()

    # Query to retrieve order information
    query = """
    SELECT 
        Orders.order_id, 
        Customers.name AS customer_name, 
        Orders.order_date, 
        Products.name AS product_name, 
        OrderDetails.quantity, 
        OrderDetails.total_price 
    FROM 
        Orders
    JOIN 
        Customers ON Orders.customer_id = Customers.customer_id
    JOIN 
        OrderDetails ON Orders.order_id = OrderDetails.order_id
    JOIN 
        Products ON OrderDetails.product_id = Products.product_id
    """

    # Execute the query
    cursor.execute(query)

    # Fetch all the records
    order_records = cursor.fetchall()
    print("hi")
    # Close the database connection
    #db.close()

    # Create a CSV file for the report
    with open("order_report.csv", mode="w", newline="") as file:
        writer = csv.writer(file)
        
        # Write column headers
        writer.writerow(["Order ID", "Customer Name", "Order Date", "Product Name", "Quantity", "Total Price"])
        
        # Write data rows
        for record in order_records:
            writer.writerow(record)

    print("Order report generated successfully as 'order_report.csv'.")

# Call the function to generate the order report
generate_order_report()

AttributeError: 'dict' object has no attribute 'cursor'

# 3.. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

Instructions:

1. Assume that you have a MySQL database server running with the following details: i. Host: localhost

ii. Port: 3306


iii. Username: your username iv. Password: your password

v. Database Name: your database

vi. Table Name: your_table

vii. The table has the following columns: id (int), name (varchar), quantity (int).

2. Your Python program should:

i. Connect to the MySQL database.

ii. Retrieve all records from the your table table.

iii. Calculate the total quantity of all records retrieved.

iv. Update the quantity column of each record by doubling its value.

v. Commit the changes to the database.

vi. Close the database connection.

3. Handle any potential errors that may occur during the database connection and data manipulation, such as connection failures or SQL errors.

4. Provide comments in your code to explain each step.

In [18]:
import mysql.connector
from datetime import date
try:
    # Database connection details
    db_config = {
        "host": "localhost",
        "port": 3306,
        "user": "root",
        "password": "Siri@123",
        "database": "inventory"
    }

    # Connect to the MySQL database
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Retrieve all records from the table
    cursor.execute("SELECT * FROM orders")
    records = cursor.fetchall()
    
    total_quantity = 0
    # Calculate the total quantity of all records retrieved
    for record in records:
        # Convert the quantity to an integer if it's a datetime.date object
        quantity = record[1] if isinstance(record[1], int) else int(record[1].strftime('%Y%m%d'))
        total_quantity += quantity

    # Double the quantity of each record and update the database
    for record in records:
        # Convert the quantity to an integer if it's a datetime.date object
        quantity = record[1] if isinstance(record[1], int) else int(record[1].strftime('%Y%m%d'))
        new_quantity = quantity * 2
        cursor.execute("UPDATE products SET quantity = %s WHERE product_id = %s", (new_quantity, record[0]))


    # Commit the changes to the database
    connection.commit()

    # Close the database connection
    cursor.close()
    connection.close()

    print("Data retrieved, modified, and updated successfully.")
except mysql.connector.Error as e:
    print("MySQL Error:", e)
except Exception as e:
    print("Error:", e)

Data retrieved, modified, and updated successfully.

# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.
Design the database schema for the employee management system.

Write Python code to connect to the database and retrieve a list of employees in a specific department.

Implement a feature to update an employee's salary.

In [37]:
import mysql.connector

# DataAbase connection details
try:
    # Connect to the MySQL database
    db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Siri@123",
    database="inventory"
    )
    #print("Connected to the database!")

    # Create a cursor object to execute SQL queries
    cursor = connection.cursor()

    # Retrieve employees in a specific department
    department = 'IT'
    select_query = f"SELECT * FROM employees WHERE department = '{department}'"
    cursor.execute(select_query)
    employees = cursor.fetchall()

    # Print employee details
    for employee in employees:
        employee_id, name, salary, department, hire_date = employee
        print(f"Employee ID: {employee_id}")
        print(f"Name: {name}")
        print(f"Salary: {salary}")
        print(f"Department: {department}")
        print(f"Hire Date: {hire_date}")
        print()

    # Close the cursor and connection
    cursor.close()
    connection.close()
    print("Database connection closed.")

except mysql.connector.Error as error:
    print("An error occurred:", error)

An error occurred: MySQL Connection not available.