# 1. Manipulate using a list.
    i) To add new elements to the end of the list.
    ii) To reserve elements in the list
    iii) To display the same list of elements multiple times.
    iv) to concatenate two list
    v) To sort the elements in the list in ascending order.

In [3]:
# i) To add new elements to the end of the list.

listt=[1,2,4,5,'star','moon',24,67]
listt.append('sun')
print(listt)

[1, 2, 4, 5, 'star', 'moon', 24, 67, 'sun']

In [4]:
#ii) To reserve elements in the list
listt[::-1]

['sun', 67, 24, 'moon', 'star', 5, 4, 2, 1]

In [9]:
# iii) To display the same list of elements multiple times.
print ( listt*4 )

[1, 2, 4, 5, 'star', 'moon', 24, 67, 'sun', 1, 2, 4, 5, 'star', 'moon', 24, 67, 'sun', 1, 2, 4, 5, 'star', 'moon', 24, 67, 'sun', 1, 2, 4, 5, 'star', 'moon', 24, 67, 'sun']

In [10]:
# iv) to concatenate two list
listt1=['new','list',12]
print(listt+listt1)

[1, 2, 4, 5, 'star', 'moon', 24, 67, 'sun', 'new', 'list', 12]

In [11]:
# v) To sort the elements in the list in ascending order.
listt2=[3,5,48,9,87,65]
listt2.sort()
print(listt2)

[3, 5, 9, 48, 65, 87]

# 2 Write a Python program to do in the tuples.
    i) Manipulate using Tuples
    ii) To add new elements to the end of tuple.
    iii) To reverse the elements in the list.
    iv) To concatenate two tuples
    v) To sort the elements in the list in ascending order.

In [19]:
# i) Manipulate using Tuples

tuple1 = (1, 2, 3, 4, 5)
a=tuple1[3]
print(a)
print(a+a)

4
8

In [22]:
#ii) To add new elements to the end of tuple.
b=15
r=tuple1 + (b,)
print(r)

(1, 2, 3, 4, 5, 15)

In [24]:
#iii) To reverse the elements in the list.
print(type(tuple1))
tuple1_list=list(tuple1)
print(type(tuple1_list))
tuple1_list.reverse()
print(tuple1_list)

<class 'tuple'>
<class 'list'>
[5, 4, 3, 2, 1]

In [32]:
 # iv) To concatenate two tuples
b=15
r=tuple1 + (b,)
print(type(r))
print(r)
tuple2=(2,3,4,5)
print(type(tuple2))
tuple2_list=list(tuple2)
print(type(tuple2_list))
result=(tuple1_list+ tuple2_list)

print(result)

<class 'tuple'>
(1, 2, 3, 4, 5, 15)
<class 'tuple'>
<class 'list'>
[5, 4, 3, 2, 1, 2, 3, 4, 5]

In [33]:
# v) To sort the elements in the list in ascending order.
result.sort()
print(result)

[1, 2, 2, 3, 3, 4, 4, 5, 5]

# 3. Write a python program to implement the following using list.
    i)create a list with integers(min of 10 num)
    ii) how to display the last number in the list.
    iii) command for displaying the values from the list [0:4]
    iv) command for displaying the values from the list [2:]
    v) command for displaying the values from the list [:6]

In [34]:
# i)create a list with integers(min of 10 num)
lisst=[1,2,3,4,5,67,7,7,8,9,74,4,23]

In [38]:
# ii) how to display the last number in the list.
lisst_r=lisst[-1]
print(lisst_r)

23

In [39]:
#iii) command for displaying the values from the list [0:4]
print(lisst[0:4])

[1, 2, 3, 4]

In [40]:
# iv) command for displaying the values from the list [2:]
print(lisst[2:])

[3, 4, 5, 67, 7, 7, 8, 9, 74, 4, 23]

In [41]:
# v) command for displaying the values from the list [:6]
print(lisst[:6])

[1, 2, 3, 4, 5, 67]

# 4. Write a python program : tuple1=(10,50,20,40,30)
    i) to display the elements 10 and 50 from tuple1.
    ii) to display the length of a tuple1.
    iii) to find the min element from tuple1.
    iv) to add all elements in tuple1.
    v) to display the same tuple1 multiple times.

In [44]:
 #     i) to display the elements 10 and 50 from tuple1.
tuple1=(10,50,20,40,30)
print(tuple1[0],tuple1[1])

10 50

In [45]:
#     ii) to display the length of a tuple1.
print(len(tuple1))

5

In [46]:
# iii) to find the min element from tuple1.
print(min(tuple1))

10

In [47]:
# iv) to add all elements in tuple1.
print(sum(tuple1))

150

In [48]:
# v) to display the same tuple1 multiple times.
print(tuple1*6)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a program:
    i) To calculate the length of a string.
    ii) to reverse words in string.
    iii) to display the same string multiple times
    iv) to concatenate two strings
    v) str1="South India", using string slicing to display "India"

In [49]:
#     i) To calculate the length of a string.
str1="South India"
print(len(str1))

11

In [51]:
# ii) to reverse words in string.
print(str1[::-1])

aidnI htuoS

In [52]:
# iii) to display the same string multiple times
print(str1*6)

South IndiaSouth IndiaSouth IndiaSouth IndiaSouth IndiaSouth India

In [56]:
#     iv) to concatenate two strings
str2="north india"
print(str1+" _ "+str2)

South India _ north india

In [58]:
# v) str1="South India", using string slicing to display "India"
print("india:",str1[6:])

India: India

# 6. Perform the following:

1. Creating the directory.
2. Accessing values and keys in the Dictionary.
3. Updating the dictionary using a function.
4. Clear and delete the dictionary values.

In [59]:
# 1. Creating the directory.

dict1 = {'name': 'puneeth','age': 22,'place': 'bangalore'}

print("Dictionary:", dict1)

Dictionary: {'name': 'puneeth', 'age': 22, 'place': 'bangalore'}

In [64]:
# 2. Accessing values and keys in the Dictionary.
print(dict1['name'], dict1['place'])
print(dict1.keys())

puneeth bangalore
dict_keys(['name', 'age', 'place'])

In [65]:
# 3. Updating the dictionary using a function.

dict1.update({'city': 'belgaum', 'job': 'engineer'})
print("Dictionary:", dict1)

Dictionary: {'name': 'puneeth', 'age': 22, 'place': 'bangalore', 'city': 'belgaum', 'job': 'engineer'}

In [66]:
# 4. Clear and delete the dictionary values.
del dict1['city']
print(dict1)

{'name': 'puneeth', 'age': 22, 'place': 'bangalore', 'job': 'engineer'}

# 7. Python Program to insert a number to any position in a list.

In [96]:

list11 = [12,23,432,23,34,44,23]
p = 5
insert_num = 53
list11.insert(p, insert_num)
print(list11)

[12, 23, 432, 23, 34, 53, 44, 23]

# 8. Python program to delete an element froma list by index.

In [99]:
a = [1, 2, 3, 4, 5]
index_to_delete = 3

if index_to_delete >= 0 and index_to_delete < len(a):
    # Delete the element at the specified index
    del a[index_to_delete]
    print(f"Deleted element at index {index_to_delete}.")
else:
    print("Invalid index. Index should be between 0 and one less than the length of the list.")
print("Updated List:", a)

Deleted element at index 3.
Updated List: [1, 2, 3, 5]

# 9.Write a program to display a number from 1 to 100.

In [100]:
for number in range(1, 101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. Write a Python program to find the sum of all items in a tuple.

In [101]:
z = (1, 2, 3, 4, 5)
total_sum = sum(z)
print("Sum of all items in the tuple:", total_sum)

Sum of all items in the tuple: 15

# 12. A list of words is given. Find the words from the list that have their second character in uppercase.

ls=['hello', 'Dear', 'hOw', 'ARe', 'You']

In [102]:

ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']

# Initialize a list to store words that meet the condition
result_words = []

# Iterate through the list
for word in ls:
    # Check if the word has at least two characters and the second character is uppercase
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)

# Print the words that meet the condition
print("Words with the second character in uppercase:", result_words)

Words with the second character in uppercase: ['hOw', 'ARe']

# CONTROL STRUCTURES

# 1. Write a python program to find the first N prime Numbers

In [103]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def find_primes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return prime_list

# Input: N (number of prime numbers to find)
N = int(input("Enter the value of N: "))

if N <= 0:
    print("N must be a positive integer.")
else:
    prime_numbers = find_primes(N)
    print(f"The first {N} prime numbers are:")
    print(prime_numbers)

Enter the value of N: 13
The first 13 prime numbers are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]

# 2. Write a Python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, DA. Add these components to calculate the Gross Salary. Also deduct 10% of salary from the gross salary to be paid as a tax and display gross minus tax as net salary.

In [104]:
# Prompt the user to enter the Basic Salary, HRA, TA, and DA
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate Gross Salary by adding Basic Salary, HRA, TA, and DA
gross_salary = basic_salary + hra + ta + da

# Calculate Tax (10% of Gross Salary)
tax = 0.10 * gross_salary

# Calculate Net Salary (Gross Salary - Tax)
net_salary = gross_salary - tax

# Display the results
print("Gross Salary:", gross_salary)
print("Tax Deducted (10% of Gross Salary):", tax)
print("Net Salary:", net_salary)

Enter Basic Salary: 30000
Enter HRA: 2300
Enter TA: 2000
Enter DA: 3000
Gross Salary: 37300.0
Tax Deducted (10% of Gross Salary): 3730.0
Net Salary: 33570.0

# 3.Write a Python program to search for a given string in the list

In [106]:
# Sample list of strings
string_list = ["apple", "banana", "cherry", "date","Mphasis", "fig"]

# Prompt the user to enter a string to search for
search_string = input("Enter a string to search for: ")

# Initialize a flag to track if the string is found
found = False

# Iterate through the list to search for the string
for item in string_list:
    if search_string.lower() == item.lower():
        found = True
        break

# Check if the string was found and display the result
if found:
    print(f"'{search_string}' was found in the list.")
else:
    print(f"'{search_string}' was not found in the list.")

Enter a string to search for: Mphasis
'Mphasis' was found in the list.

# 4. Write a Python function that accepts a string and calculates the number of upper and lower case letters.

In [108]:
def count_upper_lower_case_letters(input_string):
    # Initialize counters for uppercase and lowercase letters
    uppercase_count = 0
    lowercase_count = 0

    # Iterate through each character in the input string
    for char in input_string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    # Return the counts
    return uppercase_count, lowercase_count

# Example usage
input_str = input("Enter a string: ")
uppercase, lowercase = count_upper_lower_case_letters(input_str)

print("Number of uppercase letters:", uppercase)
print("Number of lowercase letters:", lowercase)

Enter a string: HeLlo
Number of uppercase letters: 2
Number of lowercase letters: 3

# 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [109]:
# Initialize variables to store the sum of odd and even numbers
sum_odd = 0
sum_even = 0

# Iterate through numbers from 12 to 37 (inclusive)
for num in range(12, 38):
    if num % 2 == 0:  # Check if the number is even
        sum_even += num
    else:
        sum_odd += num

# Display the sums
print("Sum of even numbers between 12 and 37:", sum_even)
print("Sum of odd numbers between 12 and 37:", sum_odd)

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. Write a Python program to print the table of any number.

In [111]:
number = int(input("Enter a number: "))

# Print the table of the entered number (up to a certain limit, e.g., 10)
print(f"Table of {number}:")

# Use a loop to calculate and print the table
for i in range(1, 11):
    result = number * i
    print(f"{number} x {i} = {result}")

Enter a number: 76
Table of 76:
76 x 1 = 76
76 x 2 = 152
76 x 3 = 228
76 x 4 = 304
76 x 5 = 380
76 x 6 = 456
76 x 7 = 532
76 x 8 = 608
76 x 9 = 684
76 x 10 = 760

# 7. Write a Python Program to sum the first 10 prime numbers.

In [112]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

count = 0
num = 2
sum_primes = 0

while count < 10:
    if is_prime(num):
        sum_primes += num
        count += 1
    num += 1

print("Sum of the first 10 prime numbers:", sum_primes)

Sum of the first 10 prime numbers: 129

# 8. Write a Python Program to implement airthametic operations using nested if statements.

In [71]:

num1 = float(input("Enter the number: "))
num2 = float(input("Enter the number: "))

operator = input("Enter any to perform (+, -, *, /): ")

if operator == "+":
    result = num1 + num2
    print(result)
elif operator == "-":
    result = num1 - num2
    print( result)
elif operator == "*":
    result = num1 * num2
    print(result)
elif operator == "/":
    if num2 != 0:  
        result = num1 / num2
        print(result)
    else:
        print("division by 0 is not allowed")
else:
    print("Please enter +, -, *, or /.")

Enter the number: 12
Enter the number: 16
Enter any to perform (+, -, *, /): /
0.75

In [73]:
# 9. Write a Python Program to Take the temperature in celcius and convert it to Fahrenheit.
temp=int(input("enter degree celcius: "))
farenhiet =(temp * 9/5) + 32
print(farenhiet)

enter degree celcius: 100
212.0

# 10. Write a Python Program to find the max and min number in a list without using an inbuilt function.

In [78]:
listt2=[3,5,48,9,87,65]
max_num = listt2[0]  
min_num = listt2[0]  

for num in listt2:
    if num > max_num:
        max_num = num
    elif num < min_num:
        min_num = num

print("Maximum number:", max_num)
print("Minimum number:", min_num)

Maximum number: 87
Minimum number: 3

# 11. Write a Python Program to print out the number of seconds in 30 day month 30 days,24 hours in a day, 60 mins per day, 60 second per min.

In [79]:

days_in_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60
Total_seconds = days_in_month * hours_per_day * minutes_per_hour * seconds_per_minute
print(Total_seconds)

2592000

# 12. Write a Python Program to print out the number of seconds in a year.

In [113]:
days_in_year=365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60
Total_seconds_in_year = days_in_year * hours_per_day * minutes_per_hour * seconds_per_minute
print(Total_seconds_in_year)

31536000

# 13. A high speed train can travel at an avg speed of 150 mph, how long will it take a train travelling at this speed to travel from Londen to Glasgow which is 414 miles away.

In [88]:
distance = 414  
speed = 150  

time = distance / speed
print(time)

2.76

# 14.Write a Python Program that defines a variable called days_in_each_school_year and assign 192 to variable. The program should then print out the total hours that you spend in school from year 7 to year 11. if each day you spend 6 hours in school day_in_each_school_year = 192

In [90]:
days_in_each_school_year = 192 
hours_per_school_day = 6 
total_hours = (days_in_each_school_year * 5) * hours_per_school_day  
print(f"{total_hours} hours")

5760 hours

# 15. If the ages of Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and the youngest of the three.

In [92]:
ram = int(input("Enter the age of ram: "))
sam = int(input("Enter the age of sam: "))
khan = int(input("Enter the age of khan: "))
if ram > sam and ram > khan:
    eldest = "ram"
elif sam > ram and sam > khan:
    eldest = "sam"
else:
    eldest = "khan"

if ram < sam and ram < khan:
    youngest = "ram"
elif sam < ram and sam < khan:
    youngest = "sam"
else:
    youngest = "khan"

print(f"The eldest person is {eldest} with age {max(ram, sam, khan)} years.")
print(f"The youngest person is {youngest} with age {min(ram, sam, khan)} years.")

Enter the age of ram: 14
Enter the age of sam: 12
Enter the age of khan: 16
The eldest person is khan with age 16 years.
The youngest person is sam with age 12 years.

# 16.Write a python program to rotate a list by the right n times with and without slicing technique.

In [95]:
lisst12 = [12,24,43,45,75]
rotate_times = 3
rotated_list_slicing = lisst12[-rotate_times:] + lisst12[:-rotate_times]   # Rotate list using slicing

rotate_times = rotate_times % len(lisst12)
for _ in range(rotate_times):
    last_element = lisst12.pop()
    lisst12.insert(0, last_element)# Rotate the list without using slicing

print("List Using Slicing:", rotated_list_slicing)
print("List Without Slicing:", lisst12)

List Using Slicing: [43, 45, 75, 12, 24]
List Without Slicing: [43, 45, 75, 12, 24]